<form action ="/square/results">
  <label for="first">Enter a number</label>
  <br>
  <input id="first" type="text" name="number" placeholder="What number do you want to square?">
  <br>
    <button>Calculate square</button>
</form>
