<form action ="/payment/results">
  <label for="apr">APR</label>
  <input id="apr" type="text" name="user_apr" placeholder="E.g. 5.42">
  <br>
  <label for="years">Number of years</label>
  <input id="years" type="text" name="user_years" placeholder="How many years to repay?">
  <br>
  <label for="pv">Principal value</label>
  <input id="pv" type="text" name="user_pv" placeholder="What is the principal value?">
  <br>
    <button>Calculate monthly payment</button>
</form>
