<form action ="/random/results">
  <label for="min">Minimum</label>
  <input id="min" type="text" name="user_min" placeholder="E.g. 1.5">
  <br>
  <label for="max">Maximum</label>
  <input id="max" type="text" name="user_max" placeholder="E.g. 4.5">
  <br>
    <button>Pick random number</button>
</form>
