<h1>Square Root Results</h1>

<% params %>

<dl>
  <dt>
    Number
  </dt>
    <dd>
      <%= @input %>
    </dd>
  <dt>
    Square Root
  </dt>
    <dd>
      <%= @root %>
    </dd>
</dl>

<a href="/square_root/new">Calculate another square root</a>
