<form action ="/square_root/results">
  <label for="first">Enter a number</label>
  <br>
  <input id="first" type="text" name="number" placeholder="What number do you want to square root?">
  <br>
    <button>Calculate square root</button>
</form>
